In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

def load_df(file_name):
    df = pd.read_excel(file_name, sheet_name='Sheet 1')
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.replace(':', np.nan, inplace=True)
    df.index = df.iloc[:, 0]
    df.drop(df.columns[[0]], axis=1, inplace=True)
    for i in df.columns[:]:
        df[i] = df[i].apply(pd.to_numeric, errors="coerce")
    df.interpolate(method='linear', inplace=True, axis = 1)
    return df

def create_per_employeer(GDP_df, HW_df, employees_df):
    ''' This is a function to create a dataframe with the per-employee GDP and per hour worked '''
    cols =(list(set(GDP_df.columns) and set(employees_df.columns) and set(HW_df.columns)))
    cols.sort()
    idx = cols.pop()
    per_employee_df = pd.DataFrame(index=GDP_df.index, columns=cols)
    per_HW_df = pd.DataFrame(index=GDP_df.index, columns=cols)
    for i in cols:
        per_employee_df[i] = GDP_df[i]/employees_df[i]
        per_HW_df[i] = per_employee_df[i]/HW_df[i]
    return per_employee_df, per_HW_df

GDP_df =  load_df('./data/GDP_per_quarter_2.xlsx') * 1e6
HW_df = load_df('./data/hours_worked.xlsx')
employees_df = load_df('./data/Employees.xlsx') * 1e3
per_employee_df, per_HW_df = create_per_employeer(GDP_df, HW_df, employees_df)

In [10]:
covid = pd.read_csv('./data/DataPerWeek.csv')
covid = covid[['country', 'country_code', 'year_week', 'positivity_rate']]
df1 = covid.pivot_table('positivity_rate',  ['country', 'country_code'],'year_week')
df1.reset_index(inplace = True)
df1 = df1.reindex([1,2,5,6,10,7,14,11,28,9,3,15,4,16,18,19,12,20,21,0,23,24,25,27,26,8,29,13,22,17])
cov = df1.drop(labels = [17], axis = 0)
cov.reset_index(inplace=True)
cov

year_week,index,country,country_code,2020-W01,2020-W02,2020-W03,2020-W04,2020-W05,2020-W06,2020-W07,...,2021-W52,2022-W01,2022-W02,2022-W03,2022-W04,2022-W05,2022-W06,2022-W07,2022-W08,2022-W09
0,1,Belgium,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.306390,24.731008,32.141819,41.810094,42.615988,36.902967,28.003749,20.519954,15.809578,16.422416
1,2,Bulgaria,BG,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,8.470641,12.983085,17.099844,23.010881,25.334136,23.274132,21.661599,18.346201,15.431079,12.404098
2,5,Czechia,CZ,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,...,9.883590,8.795199,12.136886,18.226923,23.272347,23.962556,22.873135,20.271301,21.241721,21.454330
3,6,Denmark,DK,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,...,4.332831,4.351693,5.567678,8.086321,11.135496,14.478300,17.716703,20.252046,18.512360,18.230296
4,10,Germany,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.726704,22.540019,23.667779,31.515048,43.232451,49.247355,52.345953,55.327008,55.274576,57.767263
5,7,Estonia,EE,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,...,16.126067,9.659186,24.735390,33.961019,47.824974,55.260766,57.929929,58.952825,57.294621,54.799256
6,14,Ireland,IE,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,...,41.680476,48.439286,51.652544,31.481317,28.275010,30.599811,29.984480,18.924509,28.687247,29.056261
7,11,Greece,EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.080883,6.036944,2.742445,2.669521,3.338096,2.900085,3.515551,2.177686,2.259453,2.223533
8,28,Spain,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.149232,38.960580,45.532787,42.882483,39.285314,34.388935,27.608589,21.956819,20.513154,18.769063
9,9,France,FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.595931,21.602111,24.149170,30.500600,32.016775,30.919969,26.941172,23.465974,20.202819,19.421300
10,3,Croatia,HR,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,...,14.078265,19.672282,21.193600,21.668256,21.792712,21.246814,17.937601,14.620736,NaN,10.480317
11,15,Italy,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.486450,17.557594,16.181639,16.758586,14.614713,12.654702,11.504257,11.666426,10.926174,11.580750
12,4,Cyprus,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.940721,5.204005,4.277551,3.777585,4.550486,5.157776,4.860284,4.383400,3.438164,3.412984
13,16,Latvia,LV,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,12.039370,15.139019,15.829031,21.932449,32.763852,38.961138,41.451595,44.470133,46.440262,46.683294
14,18,Lithuania,LT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.956991,16.846848,19.125231,23.307695,41.069835,43.525458,62.940873,47.897053,74.990643,45.264333
15,19,Luxembourg,LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.730181,30.177580,31.426834,38.748784,40.001533,35.144613,24.540634,23.960448,27.912939,28.305954
16,12,Hungary,HU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.135301,22.770982,29.496466,35.231291,39.168989,39.053801,37.395284,29.039402,22.802537,19.537587
17,20,Malta,MT,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,15.844328,10.890478,7.819169,7.161859,6.620406,7.028251,5.106093,4.100418,3.790066,5.191150
18,21,Netherlands,NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.940487,25.259869,27.764110,34.741938,39.494518,43.655526,40.533996,36.542032,32.509869,54.143784
19,0,Austria,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.780895,1.753268,1.690799,2.728432,3.623281,3.799813,4.213190,4.548167,4.276747,5.058696
20,23,Poland,PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.240130,14.633817,16.033358,25.387476,30.475715,42.452043,27.145308,22.024628,18.679871,16.482476
21,24,Portugal,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.070037,13.755305,17.767254,17.330891,19.114501,19.717600,16.518720,17.537274,12.179566,20.108511
22,25,Romania,RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.978201,8.745444,15.189708,23.843720,31.503367,31.337628,27.729565,21.955241,16.651821,12.165248
23,27,Slovenia,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.852491,4.082433,6.438189,9.965307,12.610498,11.902372,8.117389,5.098507,12.119233,14.844028
24,26,Slovakia,SK,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,...,8.884140,6.960065,6.335387,12.973916,21.593613,27.208237,30.979858,30.674374,29.159680,27.982057
25,8,Finland,FI,11.111111,0.0,0.0,0.0,4.0,0.000000,3.125,...,23.545110,23.296729,25.135498,35.207011,27.341137,33.695974,36.483936,35.129771,36.206188,41.694680
26,29,Sweden,SE,NaN,NaN,NaN,0.0,0.0,1.282051,0.000,...,17.351165,28.742246,30.088180,40.199003,49.482881,55.327946,43.571419,32.798461,31.815725,27.772237
27,13,Iceland,IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.748736,15.940605,14.018598,15.762839,17.702593,20.898589,31.022538,39.840327,27.827213,60.666451
28,22,Norway,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.274001,15.884358,23.815713,32.087304,41.386623,52.189939,61.413858,65.988384,62.961191,70.353132

In [11]:
per_HW_df.reset_index(inplace = True)
hrs = per_HW_df.drop(labels = [29,30,31,32,33,34,35,36,37], axis = 0)
hrs.reset_index(inplace=True)
hrs

,index,TIME,2008-Q1,2008-Q2,2008-Q3,2008-Q4,2009-Q1,2009-Q2,2009-Q3,2009-Q4,...,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3
0,0,Belgium,611.402642,650.509000,611.189001,643.449734,609.283943,621.255617,609.988497,665.392445,...,781.186857,751.422297,826.953821,757.363015,697.283950,740.861798,818.986723,798.488287,832.346996,810.219452
1,1,Bulgaria,64.485616,73.585609,83.978307,84.170255,67.164116,78.884587,85.638898,89.906787,...,132.850213,140.475386,150.054807,120.599117,132.878265,150.262363,158.008789,129.145951,148.563718,169.056203
2,2,Czechia,213.788847,237.927883,249.455512,234.787323,200.832967,220.343577,232.028277,237.178025,...,327.919628,333.933911,343.652461,311.266007,294.832550,324.634480,335.597217,319.635254,358.684483,362.109816
3,3,Denmark,678.865532,702.741710,698.890381,719.966763,683.246776,694.388128,699.560334,749.470180,...,922.540572,899.795253,928.473043,906.720783,895.945101,924.479816,962.315027,906.093079,943.762778,936.824282
4,4,Germany (until 1990 former territory of the FRG),533.261691,537.787264,526.458031,525.027097,498.587068,498.165814,516.895246,521.901949,...,662.946576,670.291155,670.776516,653.168535,593.935393,661.429813,689.269713,671.321564,679.806980,704.338582
5,5,Estonia,171.701788,190.377468,182.534316,178.910157,164.867715,176.504979,169.971297,183.658263,...,330.497382,328.107378,339.227333,302.046534,315.120648,329.468547,347.572388,323.745433,362.060103,380.556094
6,6,Ireland,730.837838,712.962459,709.483959,717.768395,729.491893,737.183130,730.276180,725.745522,...,1195.186922,1296.389764,1293.331757,1306.859698,1236.788105,1436.662633,1338.430432,1476.221373,1412.989267,1531.442622
7,7,Greece,450.237773,475.350999,493.613691,494.032784,431.791418,479.375864,484.782423,510.227724,...,412.272885,439.291495,417.200137,376.636277,352.259744,396.261942,387.377776,397.830785,403.502943,439.779489
8,8,Spain,404.288417,428.318029,407.299761,448.923237,417.554579,441.016492,422.911119,459.404170,...,508.530716,485.840385,519.190295,470.499049,433.278550,470.792687,498.144841,469.709164,492.792130,472.956635
9,9,France,568.928419,571.953573,549.212748,573.509524,554.414509,556.772397,541.990617,584.201462,...,688.967836,676.998156,706.971493,659.278661,605.976591,667.280269,699.233322,692.946415,697.028246,691.564656
10,10,Croatia,197.836562,217.139634,229.073234,209.427166,184.781968,206.160226,215.964191,203.881102,...,243.106443,266.548214,234.594521,218.462993,203.704639,234.821545,225.638743,221.519436,246.533848,284.874983
11,11,Italy,614.724780,633.805433,602.236385,651.236052,585.712091,607.700298,600.325440,655.454294,...,671.429938,668.084421,722.759252,623.790475,581.662123,657.672491,705.569032,666.849443,679.301306,675.457148
12,12,Cyprus,375.373878,393.819082,403.736584,384.606702,372.976203,382.752100,382.109254,383.920531,...,420.976018,426.287693,411.001940,399.597559,358.915704,408.228509,395.208185,392.873987,405.058293,408.451737
13,13,Latvia,159.120993,170.061795,172.231411,171.989928,146.122321,159.748742,154.552304,156.902192,...,258.173151,271.064257,269.688203,236.081991,243.633285,267.159387,280.454684,254.034761,298.092030,319.129539
14,14,Lithuania,148.168233,174.694779,179.371166,173.451343,141.996327,161.119072,154.844543,154.340066,...,267.379856,286.434476,282.068803,247.939757,264.337257,305.109126,293.641543,267.859190,301.535697,328.714777
15,15,Luxembourg,1425.268213,1418.096115,1410.207502,1514.375706,1326.741718,1297.571029,1288.201949,1404.458392,...,1557.086808,1568.041358,1719.897542,1566.651317,1550.112857,1634.916399,1780.708904,1665.461930,1697.799449,1729.477452
16,16,Hungary,182.780347,205.539395,210.447554,206.027251,158.254542,176.297200,188.118606,208.124210,...,231.181655,235.967247,254.068693,211.643249,207.286713,227.372228,250.260724,205.514624,246.234896,250.586920
17,17,Malta,273.240504,289.057951,304.443337,299.519112,279.399420,291.326538,308.657545,301.185227,...,422.566958,434.569366,421.012449,391.542878,357.512488,387.826442,393.901844,403.162468,409.106384,431.207378
18,18,Netherlands,731.308996,743.776963,710.094035,745.408498,712.456791,717.514201,692.080452,740.771665,...,932.333140,889.044751,933.476668,903.137467,876.910730,900.257931,948.234116,859.603142,913.162184,889.627631
19,19,Austria,537.344956,563.244566,549.679923,574.753142,535.440455,548.677465,546.810112,583.284671,...,712.706775,706.655983,745.302950,698.560442,659.720954,696.998266,727.433366,689.959372,753.029010,755.286594
20,20,Poland,174.078241,185.706827,188.960788,189.265042,145.741132,150.039186,160.263145,184.170916,...,247.493066,249.741554,285.709455,250.498124,231.450128,254.425512,281.090960,249.998452,259.099249,265.784333
21,21,Portugal,288.915623,299.572340,299.832015,308.177791,281.925248,301.167284,303.663268,319.456583,...,339.595452,339.722737,350.327880,325.916548,300.033281,333.891508,336.533340,317.970739,330.771045,340.152333
22,22,Romania,108.910494,133.935238,160.737536,168.514790,94.704981,117.663462,133.237776,155.117627,...,198.935146,231.653647,256.549252,176.343948,184.285211,228.843662,261.655848,179.604612,213.728526,245.451598
23,23,Slovenia,257.308811,288.541549,276.037821,276.982584,256.623259,287.172253,284.205408,284.984547,...,365.441533,372.766178,371.502333,336.381920,334.561703,366.713148,361.003600,371.495784,398.549971,396.079499
24,24,Slovakia,175.446506,194.370648,205.790137,198.497773,182.022552,194.776037,207.181808,206.544136,...,274.580560,283.520668,278.490405,252.882548,257.889783,290.425934,286.870872,261.454387,286.488709,298.534124
25,25,Finland,579.350013,586.306544,570.942422,621.474505,562.710294,566.491187,561.264723,623.490623,...,744.788131,724.574777,796.554815,746.155982,728.608518,733.526419,814.915430,786.671414,812.148491,813.004471
26,26,Sweden,608.561857,636.858029,573.787072,583.715369,517.919531,547.252417,528.523346,594.939396,...,740.620919,678.035736,765.242311,728.795145,714.300614,708.673839,805.670044,778.456718,799.168382,742.721011
27,27,Iceland,593.989478,514.613933,507.275330,290.805414,461.615552,415.282121,410.751546,431.348542,...,798.772076,857.226053,895.160981,771.201520,708.199880,694.956061,823.084440,803.975261,846.185897,872.915629
28,28,Norway,1043.689143,1071.032865,1040.177821,984.583603,886.112164,878.751165,903.906188,1011.719947,...,1086.386142,1027.796453,1114.019032,1028.514227,869.035740,924.295112,1022.242305,1070.114627,1091.587564,1125.324754

In [13]:
cov['mean'] = cov.iloc[:,3:108].mean(axis=1, skipna= True)
hrs['mean'] = hrs.iloc[:,50:].mean(axis=1, skipna = True)
df_new = hrs[['mean']].copy()
df_new
df_new['positive-cases_rate'] = cov[['mean']]
corr = df_new.corr()
print(corr)

                        mean  positive-cases_rate
mean                 1.00000             -0.41297
positive-cases_rate -0.41297              1.00000