In [1]:
import pandas as pd
wages = pd.read_csv('./dataframes/wages_df.csv')
wages = wages.set_index('ref_area.label')
wages = wages.rename(columns = {'Average': 'Average Wages'})
wages

                 Average Wages  Average GDP
ref_area.label
Austria              58.895000   559.852053
Belgium              64.348333   632.735292
Bulgaria             48.042500    81.429099
Croatia              58.420000   210.461610
Cyprus               52.950000   383.191797
Czechia              53.955833   232.553866
Denmark              59.089167   720.960773
Estonia              54.654167   181.284794
Finland              57.288333   589.136949
France               61.741667   567.808565
Germany              61.931667   526.547870
Greece               56.306667   475.549315
Hungary              50.570000   192.296766
Iceland              61.033333   463.369318
Ireland              45.021667   735.369611
Italy                59.380833   624.613313
Latvia               51.393333   159.836095
Lithuania            47.540833   162.916539
Luxembourg           54.947500  1395.076447
Malta                49.801667   301.465340
Montenegro           46.493333          NaN
Netherlands          63.995000   731.960199
North Macedonia      44.932500    87.831724
Norway               50.030000  1008.510749
Poland               47.909167   177.732589
Portugal             58.117500   303.440302
Romania              41.990000   135.373934
Serbia               51.564167   117.777483
Slovakia             48.561667   202.885018
Slovenia             58.780833   281.094035
Spain                60.277500   434.731622
Sweden               55.393333   599.646295
Switzerland          67.942500   853.857634
Turkey               36.703333   200.967204
United Kingdom       57.735000   516.610182

In [2]:
unemployment = pd.read_csv('./dataframes/unemployment_df.csv')
unemployment = unemployment.set_index('ref_area.label')
unemployment

                 Average Unemployment Rate  Average GDP
ref_area.label
Austria                           5.214545   640.420618
Belgium                           7.253571   709.630729
Bulgaria                          8.110714   109.098870
Croatia                          11.869091   221.455325
Cyprus                            9.782143   388.274275
Czechia                           4.766071   269.340377
Denmark                           6.200000   829.040914
Estonia                           8.298214   248.627246
Finland                           7.967857   679.656098
France                            9.021429   627.510061
Germany                           5.109615   597.360827
Greece                           18.985455   448.134528
Hungary                           7.175000   201.110727
Iceland                           4.892857   643.054452
Ireland                           9.978182   987.395038
Italy                            10.069643   653.875914
Latvia                           11.175000   207.708209
Lithuania                        10.075000   216.747197
Luxembourg                        5.594545  1530.690959
Malta                             5.250000   358.881563
Montenegro                       17.696250   131.002550
Netherlands                       5.112500   819.652297
North Macedonia                  26.206182    99.241305
Norway                            3.698214  1095.638763
Poland                            6.882143   211.995099
Portugal                         10.532143   314.696171
Romania                           5.989091   168.720866
Serbia                           15.512381   125.163752
Slovakia                         10.430357   238.640183
Slovenia                          6.966071   321.282311
Spain                            18.891071   470.194131
Sweden                            7.608929   703.946230
Switzerland                       4.732653  1079.328676
Turkey                           10.671154   209.489302
United Kingdom                    5.964706   591.576156

In [3]:
# Correlation only with advanced education: 0.60
# Medium correlation with Intermediate education:-0.43
# No correlation with Basic education
education = pd.read_csv('./dataframes/education_df.csv')
education = education.set_index('TIME')
education

,Average GDP,basic Average,intermediate Average,Advanced Average
TIME,,,,
Belgium,709.630729,18.580519,39.241438,42.177827
Bulgaria,109.098870,13.481021,57.713673,28.805385
Czechia,269.340377,5.336603,73.005127,21.644294
Denmark,829.040914,21.949427,42.263024,34.094235
Germany,597.360827,13.870702,57.933511,27.986583
Estonia,248.627246,10.431208,51.711521,37.841544
Ireland,987.395038,16.188844,36.972264,43.892003
Greece,448.134528,26.596933,42.366434,31.036689
Spain,470.194131,38.903227,23.736030,37.360743
France,627.510061,19.213918,43.981480,36.606135
Croatia,221.455325,12.342067,63.457412,24.129893
Italy,653.875914,33.812875,46.445320,19.741812
Cyprus,388.274275,18.525678,38.762742,42.712477
Latvia,207.708209,9.741388,57.393340,32.804135
Lithuania,216.747197,5.113624,54.847084,40.038869
Luxembourg,1530.690959,18.988221,34.517443,42.170501
Hungary,201.110727,12.701392,61.879569,25.418979
Malta,358.881563,41.153904,32.150507,26.697681
Netherlands,819.652297,23.092661,41.367712,34.555802
Austria,640.420618,15.059170,57.117249,27.823727
Poland,211.995099,6.658722,62.608218,30.733055
Portugal,314.696171,53.036613,24.035105,22.928128
Romania,168.720866,21.922571,59.745104,18.332256
Slovenia,321.282311,10.659041,57.506968,31.835043
Slovakia,238.640183,5.847717,72.125343,22.027006
Finland,679.656098,13.291845,46.391953,40.308146
Sweden,703.946230,15.954838,46.422358,37.355301
Iceland,643.054452,30.166655,35.812880,33.883878
Norway,1095.638763,18.193669,41.058340,40.366373
Switzerland,1079.328676,14.913554,47.272342,37.509937
United Kingdom,591.576156,17.665800,41.929560,39.629086
Montenegro,131.002550,9.004489,62.943818,27.794562
North Macedonia,99.241305,20.536613,54.392736,22.285578
Serbia,125.163752,23.815172,51.057295,23.404088
Turkey,209.489302,58.404724,20.914505,20.680751

In [4]:
inflation = pd.read_csv('./dataframes/inflation_df.csv')
inflation = inflation.set_index('LOCATION')
inflation

                Average_Infilation  Average GDP
LOCATION
Austria                   1.823534   638.293471
Belgium                   1.744923   707.767975
Switzerland               0.080451  1076.055141
Czechia                   2.067023   267.622424
Germany                   1.326050   595.379758
Denmark                   1.310386   827.044926
Spain                     1.212228   470.142974
Estonia                   2.432025   246.184119
Finland                   1.310291   677.186683
France                    1.095663   626.323865
United Kingdom            2.062963   591.651008
Greece                    0.737302   448.289251
Hungary                   2.965742   200.194501
Ireland                   0.345551   977.320083
Iceland                   4.475821   638.797763
Italy                     1.181333   653.476262
Lithuania                 2.581694   214.673724
Luxembourg                1.611620  1527.009727
Latvia                    2.332160   205.644851
Netherlands               1.636472   818.356457
Norway                    2.206215  1095.089023
Poland                    2.153086   210.999002
Portugal                  0.986013   314.224760
Slovakia                  1.806040   237.531036
Slovenia                  1.339949   319.897178
Sweden                    1.128150   703.228179

In [5]:
depression = pd.read_csv('./dataframes/depression_df.csv')
depression = depression.set_index('TIME')
depression

                 Average_Productivity  Average Depression Rate
TIME
Austria                    625.873632                 3.897819
Belgium                    695.560081                 4.455466
Bulgaria                   102.204201                 2.882526
Croatia                    218.333564                 3.239540
Cyprus                     385.857859                 3.765708
Denmark                    810.713937                 4.076575
Estonia                    231.447697                 3.804306
Finland                    661.411414                 5.973561
France                     617.734251                 4.601455
Germany                    583.924070                 4.574229
Greece                     457.331706                 6.353230
Hungary                    195.046841                 2.966710
Iceland                    610.762807                 3.697216
Ireland                    912.556771                 5.327828
Italy                      651.783252                 4.216119
Latvia                     195.317682                 3.852566
Lithuania                  203.118592                 4.265404
Malta                      350.187919                 3.818966
Montenegro                 123.910007                 3.161505
Netherlands                803.639602                 4.382999
North Macedonia             98.197521                 2.832297
Norway                    1108.417438                 4.277365
Poland                     202.868102                 2.499345
Portugal                   311.586304                 5.282370
Romania                    158.728942                 2.906157
Serbia                     122.811182                 3.002194
Slovenia                   312.205935                 3.473952
Spain                      468.423337                 5.305419
Sweden                     695.564758                 5.409227
Switzerland               1052.353049                 4.475828
Turkey                     212.003740                 5.049210
United Kingdom             589.308735                 5.274675

In [6]:
age_df = pd.read_csv('./dataframes/age_df.csv')
age_df = age_df.set_index('TIME')
age_df

,Average GDP,1524 Employers Average,2544 Age Employers Average,45 plus Employers Average
TIME,,,,
Belgium,709.630729,8.075380,51.332546,27.265285
Bulgaria,109.098870,6.090224,49.700133,27.318269
Czechia,269.340377,6.454611,51.316194,26.916198
Denmark,829.040914,14.700964,42.529761,26.698460
Germany,597.360827,10.398460,42.911399,28.977888
Estonia,248.627246,8.789436,46.769671,27.471371
Ireland,987.395038,13.158156,50.656564,23.545109
Greece,448.134528,6.087452,54.094960,27.181201
Spain,470.194131,7.535071,52.683958,26.050192
France,627.510061,9.731514,48.940167,27.210365
Croatia,221.455325,8.781355,51.899509,25.633935
Italy,653.875914,6.324784,48.494255,30.284208
Cyprus,388.274275,9.062056,53.340743,24.130219
Latvia,207.708209,8.777263,47.121034,27.429342
Lithuania,216.747197,8.159721,46.659118,28.420862
Luxembourg,1530.690959,7.229260,55.844774,27.215934
Hungary,201.110727,7.116592,52.810892,26.188924
Malta,358.881563,13.442522,53.302375,21.426901
Netherlands,819.652297,15.886624,42.202114,25.972341
Austria,640.420618,NaN,NaN,NaN
Poland,211.995099,8.376386,53.753159,24.539790
Portugal,314.696171,7.403577,48.198676,29.570009
Romania,168.720866,7.691727,52.844563,26.959004
Slovenia,321.282311,7.735083,51.543123,28.998877
Slovakia,238.640183,7.672179,53.610595,25.248650
Finland,679.656098,11.953550,43.731079,26.151739
Sweden,703.946230,12.286829,44.369665,25.720599
Iceland,643.054452,16.232513,42.249084,25.051027
Norway,1095.638763,13.369678,44.964055,25.457364
Switzerland,1079.328676,13.015463,43.679547,27.331191
United Kingdom,591.576156,13.643121,45.149789,26.507286
Montenegro,131.002550,9.474277,52.019141,25.513386
North Macedonia,99.241305,9.908447,53.293747,23.803736
Serbia,125.163752,7.252907,48.539108,28.542920
Turkey,209.489302,16.430387,55.926233,20.017456

In [7]:
sleep = pd.read_csv('./dataframes/sleep_df.csv')
sleep = sleep.set_index('Country')
sleep

                                             Hours
Country
Austria                                      7.183
Belgium                                      7.300
Bulgaria                                     7.150
Croatia                                      7.233
Czechia                                      7.183
Denmark                                      7.250
Estonia                                      7.367
Finland                                      7.500
France (including Monaco)                    7.383
Germany                                      7.233
Greece                                       7.100
Hungary                                      7.167
Iceland                                      7.383
Ireland                                      7.283
Italy                                        7.083
Latvia                                       7.150
Lithuania                                    7.300
Luxembourg                                   7.117
Malta                                        6.967
Netherlands                                  7.467
Norway                                       7.333
Poland                                       7.083
Portugal (including the Azores and Madeira)  7.217
Republic of Cyprus                           7.233
Romania                                      7.150
Slovakia                                     7.200
Slovenia                                     7.167
Spain (including the Balearic Islands)       7.067
Sweden                                       7.300
Switzerland                                  7.317

In [8]:
df = unemployment
df['Advanced Education'] = education['Advanced Average']
df['Intermediate Education'] = education['intermediate Average']
df['Inflation'] = inflation['Average_Infilation']
df['depression'] = depression['Average Depression Rate']
df['% of young employers(15-24)'] = age_df['1524 Employers Average']
df['Average Wages'] = wages['Average Wages']
df['Average Sleep'] = sleep['Hours']


df

,Average Unemployment Rate,Average GDP,Advanced Education,Intermediate Education,Inflation,depression,% of young employers(15-24),Average Wages,Average Sleep
ref_area.label,,,,,,,,,
Austria,5.214545,640.420618,27.823727,57.117249,1.823534,3.897819,NaN,58.895000,7.183
Belgium,7.253571,709.630729,42.177827,39.241438,1.744923,4.455466,8.075380,64.348333,7.300
Bulgaria,8.110714,109.098870,28.805385,57.713673,NaN,2.882526,6.090224,48.042500,7.150
Croatia,11.869091,221.455325,24.129893,63.457412,NaN,3.239540,8.781355,58.420000,7.233
Cyprus,9.782143,388.274275,42.712477,38.762742,NaN,3.765708,9.062056,52.950000,NaN
Czechia,4.766071,269.340377,21.644294,73.005127,2.067023,NaN,6.454611,53.955833,7.183
Denmark,6.200000,829.040914,34.094235,42.263024,1.310386,4.076575,14.700964,59.089167,7.250
Estonia,8.298214,248.627246,37.841544,51.711521,2.432025,3.804306,8.789436,54.654167,7.367
Finland,7.967857,679.656098,40.308146,46.391953,1.310291,5.973561,11.953550,57.288333,7.500
France,9.021429,627.510061,36.606135,43.981480,1.095663,4.601455,9.731514,61.741667,NaN
Germany,5.109615,597.360827,27.986583,57.933511,1.326050,4.574229,10.398460,61.931667,7.233
Greece,18.985455,448.134528,31.036689,42.366434,0.737302,6.353230,6.087452,56.306667,7.100
Hungary,7.175000,201.110727,25.418979,61.879569,2.965742,2.966710,7.116592,50.570000,7.167
Iceland,4.892857,643.054452,33.883878,35.812880,4.475821,3.697216,16.232513,61.033333,7.383
Ireland,9.978182,987.395038,43.892003,36.972264,0.345551,5.327828,13.158156,45.021667,7.283
Italy,10.069643,653.875914,19.741812,46.445320,1.181333,4.216119,6.324784,59.380833,7.083
Latvia,11.175000,207.708209,32.804135,57.393340,2.332160,3.852566,8.777263,51.393333,7.150
Lithuania,10.075000,216.747197,40.038869,54.847084,2.581694,4.265404,8.159721,47.540833,7.300
Luxembourg,5.594545,1530.690959,42.170501,34.517443,1.611620,NaN,7.229260,54.947500,7.117
Malta,5.250000,358.881563,26.697681,32.150507,NaN,3.818966,13.442522,49.801667,6.967
Montenegro,17.696250,131.002550,27.794562,62.943818,NaN,3.161505,9.474277,46.493333,NaN
Netherlands,5.112500,819.652297,34.555802,41.367712,1.636472,4.382999,15.886624,63.995000,7.467
North Macedonia,26.206182,99.241305,22.285578,54.392736,NaN,2.832297,9.908447,44.932500,NaN
Norway,3.698214,1095.638763,40.366373,41.058340,2.206215,4.277365,13.369678,50.030000,7.333
Poland,6.882143,211.995099,30.733055,62.608218,2.153086,2.499345,8.376386,47.909167,7.083
Portugal,10.532143,314.696171,22.928128,24.035105,0.986013,5.282370,7.403577,58.117500,NaN
Romania,5.989091,168.720866,18.332256,59.745104,NaN,2.906157,7.691727,41.990000,7.150
Serbia,15.512381,125.163752,23.404088,51.057295,NaN,3.002194,7.252907,51.564167,NaN
Slovakia,10.430357,238.640183,22.027006,72.125343,1.806040,NaN,7.672179,48.561667,7.200
Slovenia,6.966071,321.282311,31.835043,57.506968,1.339949,3.473952,7.735083,58.780833,7.167
Spain,18.891071,470.194131,37.360743,23.736030,1.212228,5.305419,7.535071,60.277500,NaN
Sweden,7.608929,703.946230,37.355301,46.422358,1.128150,5.409227,12.286829,55.393333,7.300
Switzerland,4.732653,1079.328676,37.509937,47.272342,0.080451,4.475828,13.015463,67.942500,7.317
Turkey,10.671154,209.489302,20.680751,20.914505,NaN,5.049210,16.430387,36.703333,NaN
United Kingdom,5.964706,591.576156,39.629086,41.929560,2.062963,5.274675,13.643121,57.735000,NaN

In [9]:
df.corr()

,Average Unemployment Rate,Average GDP,Advanced Education,Intermediate Education,Inflation,depression,% of young employers(15-24),Average Wages,Average Sleep
Average Unemployment Rate,1.000000,-0.438760,-0.231506,-0.026643,-0.288186,-0.001413,-0.318156,-0.281553,-0.207946
Average GDP,-0.438760,1.000000,0.607899,-0.423350,-0.327379,0.524400,0.384408,0.471079,0.300979
Advanced Education,-0.231506,0.607899,1.000000,-0.360613,-0.081711,0.425542,0.275005,0.335452,0.548846
Intermediate Education,-0.026643,-0.423350,-0.360613,1.000000,0.229988,-0.625445,-0.442782,-0.140156,-0.190986
Inflation,-0.288186,-0.327379,-0.081711,0.229988,1.000000,-0.551124,0.107838,-0.232044,0.108070
depression,-0.001413,0.524400,0.425542,-0.625445,-0.551124,1.000000,0.259594,0.308654,0.378564
% of young employers(15-24),-0.318156,0.384408,0.275005,-0.442782,0.107838,0.259594,1.000000,0.058107,0.547517
Average Wages,-0.281553,0.471079,0.335452,-0.140156,-0.232044,0.308654,0.058107,1.000000,0.377245
Average Sleep,-0.207946,0.300979,0.548846,-0.190986,0.108070,0.378564,0.547517,0.377245,1.000000